<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>21학년도 논술전형 톺아보기</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">

    <style type="text/css">

        .info {
            font-family: 'Nanum Myeongjo', serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .img {

        }

        h1, h5 {
            display: inline;
        }

        .info {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .btn-primary {
            background-color: forestgreen;
            border-color: olivedrab;
        }

    </style>


</head>


<body>

<div class="wrap">
    <div class="info">
        <h1>21학년도 논술전형 톺아보기</h1>
        <h5></h5>
    </div>
    <input id="search" name="search_major" title="학과명검색"
           placeholder="학과명을 입력해주세요." class="search_major" type="text" value="" maxlength="25">
    <a class="btn btn-primary" href="#" role="button">검색</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">지역</th>
            <th scope="col">학교</th>
            <th scope="col">학과</th>
            <th scope="col">모집인원</th>
            <th scope="col">2020경쟁률</th>
            <th scope="col">선택</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>@twitter</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>