<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>21학년도 논술전형 톺아보기</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">

    <style type="text/css">

        .info {
            font-family: 'Nanum Myeongjo', serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

               h1, h5 {
            display: inline;
        }

        .info {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .search{
            margin-top: 14px;
        }

        .btn-primary {
            background-color: forestgreen;
            border-color: olivedrab;
        }

    </style>
    <script>


    </script>

</head>


<body>

<div class="wrap">
    <div class="info">
        <h1>21학년도 논술전형 톺아보기</h1>
        <p></p>
        <h5>검색창에 희망학과 키워드를 입력해보세요. (예)화학, 국어, 경영 등</h5>
        <div class = "search">
            <input id="search" name="search_major" title="학과명검색"
               placeholder="학과 키워드 입력" class="search_major" type="text" value="" maxlength="50">
        <a class="btn btn-primary" href="#" role="button">검색</a>

        </div>


    </div>

    <div class="table">
        <table class="table">

            <thead>
            <tr>
                <th scope="col">지역
                    <select class="region-select">
                        <option selected>전체</option>
                        <option value="1">서울</option>
                        <option value="2">경기</option>
                        <option value="3">인천</option>
                        <option value="4">강원</option>
                        <option value="5">경남</option>
                        <option value="6">경북</option>
                        <option value="7">광주</option>
                        <option value="8">대구</option>
                        <option value="9">대전</option>
                        <option value="10">부산</option>
                        <option value="11">세종</option>
                        <option value="12">울산</option>
                        <option value="13">전남</option>
                        <option value="14">전북</option>
                        <option value="15">제주</option>
                        <option value="16">충남</option>
                        <option value="17">충북</option>

                    </select>
                </th>
                <th scope="col">학교
                    <select class="university-select">
                        <option selected>전체</option>
                        <option value="1">가톨릭대학교</option>
                        <option value="2">가톨릭대학교(2캠)</option>
                        <option value="3">건국대학교</option>
                        <option value="4">경기대학교</option>
                        <option value="5">경기대학교(2캠)</option>
                        <option value="6">경북대학교</option>
                        <option value="7">경희대학교</option>
                        <option value="8">광운대학교</option>
                        <option value="9">단국대학교</option>
                        <option value="10">덕성여자대학교</option>
                        <option value="11">동국대학교</option>
                        <option value="12">부산대학교</option>
                        <option value="13">서강대학교</option>
                        <option value="14">서울과학기술대학교</option>
                        <option value="15">서울시립대학교</option>
                        <option value="16">서울여자대학교</option>
                        <option value="17">성균관대학교</option>
                        <option value="18">성신여자대학교</option>
                        <option value="19">세종대학교</option>
                        <option value="20">숙명여자대학교</option>
                        <option value="21">숭실대학교</option>
                        <option value="22">아주대학교</option>
                        <option value="23">연세대학교</option>
                        <option value="24">연세대학교(미래)</option>
                        <option value="25">울산대학교</option>
                        <option value="26">이화여자대학교</option>
                        <option value="27">인하대학교</option>
                        <option value="28">중앙대학교</option>
                        <option value="29">중앙대학교(2캠)</option>
                        <option value="30">한국기술교육대학교</option>
                        <option value="31">한국산업기술대학교</option>
                        <option value="32">한국외국어대학교</option>
                        <option value="33">한국항공대학교</option>
                        <option value="34">한양대학교</option>
                        <option value="35">한양대학교(ERICA)</option>
                        <option value="36">홍익대학교</option>
                    </select>
                </th>
                <th scope="col">학과</th>
                <th scope="col">모집인원</th>
                <th scope="col">20'경쟁률</th>
                <th scope="col">반영비율</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@twitter</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>

</html>